azure-storage
azure-mgmt-network
azure-mgmt-resource
azure-monitor
boto3
botocore
cerberus
docopt
git+https://github.com/dcos/dcos-test-utils@9d09975f1d7184fc0d0d302e2e5eed2b38481a9e
google-api-python-client
oauth2client==3.0.0
pyinstaller==3.3
py
pytest
pyyaml
requests
retrying
tox
