azure-storage
azure-mgmt-network
azure-mgmt-resource
azure-monitor
boto3
botocore
cerberus
docopt
git+https://github.com/dcos/dcos-test-utils@c431eb6414e003e31c865c534b2413969a6d9947
google-api-python-client
oauth2client==3.0.0
pyinstaller==3.3
py
pytest
pyyaml
requests
retrying
tox
