azure-storage
azure-mgmt-network
azure-mgmt-resource
azure-monitor
boto3
botocore
cerberus
docopt
git+https://github.com/dcos/dcos-test-utils@8d019c99059c960ec9a304aa0843cfdf660356cc
google-api-python-client
oauth2client==3.0.0
pyinstaller==3.3
py
pytest
pyyaml
requests
retrying
tox
